div.console-div{
    background-color: black;
    color: #aaa;
    font-family: Courier, monospace;
    font-size: 14px;
    min-height: 400px;
    display:block;
    padding-top:20px;
    padding-bottom:20px;
    margin-top: 55px;
    margin-bottom: 20px;
    line-height:normal;
}
#console-div div{
    display:inline-block;
}
.head-tool{
    color:#227799;
    padding:15px;
    float: right;
}
.bg-unread{
    background-color: #121212;
}
.warning-block{
    margin-top: 2px;
}
.console-div-textbox{
width: 100%;
max-width: 100%;
min-width: 100%;
min-height: 700px;
max-height: 700px;
overflow: scroll;
}
#console-div textarea{
background-attachment: local;
background-repeat: no-repeat;
padding-left: 15px;
padding-top: 10px;
    border-color:#ccc;
    font-size: 14px;
}
